#video-container {
  position: relative;
  margin: 0; }

video {
  max-width: 100%;
  height: auto; }

#video-controls {
  position: absolute;
  max-width: 1270px;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  -ms-transition: opacity .3s;
  transition: opacity .3s; }

.buffered {
  transition-duration: .5s;
  height: 4px;
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  z-index: 2;
  bottom: 0;
  margin-bottom: 10px;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%; }

#buffered-amount {
  display: block;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  width: 0; }

.progress {
  transition-duration: .5s;
  height: 4px;
  position: absolute;
  z-index: 3;
  bottom: 0;
  margin-bottom: 10px;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%; }

#progress-amount {
  display: block;
  height: 100%;
  background-color: #FF9900;
  width: 0; }

.timecounter {
  display: inline-block;
  color: white;
  font-family: "Open Sans"; }

#current {
  padding-left: 10px; }

.control {
  vertical-align: middle;
  display: inline-block; }
  .control:hover {
    cursor: pointer; }

#play-pause {
  margin-left: 20px; }

#fullscreen-icon,
#volume-on-off {
  margin-right: 20px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.controlplaying {
  transition: 0.2s;
  opacity: .9; }

.barplaying {
  margin-bottom: 10px;
  transition: 0.2s; }

.controlpaused {
  transition: 0.2s;
  opacity: 0; }

.barplaying {
  margin-bottom: 75px; }

#video-container:hover .bar {
  transition: 0.2s;
  margin-bottom: 75px; }

#video-container:hover .control {
  transition: 0.2s;
  opacity: .9; }

#volume-bar {
  width: 100px;
  margin-right: 15px; }

#captions-container {
  max-width: 1270px;
  font-family: "Open Sans";
  color: #444;
  width: 95%;
  margin-left: 10px; }

#progress-bar:hover {
  cursor: pointer; }
