p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: $navcolor;
  font-weight: 700;
  }

#li-contact:hover #path-contact,
#li-heart:hover #path-heart,
#li-location:hover #path-location {
  fill: #111;
  transition: 0.2s
}

#li-contact:hover > a,
#li-heart:hover > a,
#li-location:hover > a {
  color: #111;
  transition: 0.2s
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: url('../svgs/background.svg') #edeff0;
  background-size: 50px 50px;
}
